* {
    padding: 0;
    margin: 0;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: black;
}

.main-clock {
    display: flex;
    justify-content: center;
}

.clock {
    position: absolute;
    top: 50%;
    color: #e5493a;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 7px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}